@media all and (min-width: 641px) {
    body {
        margin: auto;
    }
    body,
    header,
    #nav-menu,
    .loading-effect,
    .loading-effect-opacity {
        width: 640px;
    }
    .container {
        top: 105px;
    }
    .nav-menu-wrapper {
        background: #fbf3e5;
    }
    #nav-hamburger {
        top: 45px;
    }
    .notice-sign {
        top: 2%;
    }
}

@media not all and (min-width: 641px) {
    body,
    header,
    #nav-menu,
    .loading-effect,
    .loading-effect-opacity {
        width: 100%;
    }
    .container {
        top: 70px;
    }
    .nav-menu-wrapper {
        background: #fbf3e5;
    }
    #nav-hamburger {
        top: 25px;
    }
    .notice-sign {
        top: 1%;
    }
}

@media all and (max-width: 320px) {
    .nav-menu-wrapper > nav {
        top: -7%;
        left: -10%;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
}

@media not all and (max-width: 320px) {
    .nav-menu-wrapper > nav {
        top: 0%;
        left: -5%;
        -webkit-transform: scale(0.75);
        -moz-transform: scale(0.75);
        -o-transform: scale(0.75);
        transform: scale(0.75);
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    /*height: 100px;*/
    /*background-color: #ff9933;*/
    background-color: transparent;
    z-index: 1000;
}

header > img,
footer > img {
    width: 100%;
}

.wrap {
    position: relative;
    width: 100%;
    /*height: 100%;*/
    min-height: 100%;
    display: block;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*background: #ccc;*/
}

.container {
    position: relative;
    width: 100%;
    /*background: #eee;*/
}

.increase-height-element {
    width: 100%;
    height: 30px;
}

.notice-sign {
    position: fixed;
    left: initial;
    margin-left: 55px;
    width: 15px;
    height: 15px;
    border-radius: 99em;
    border: 1px solid #fff;
    background: #ff6600;
    color: #fff;
    z-index: 1000;
}

.notice-sign > p {
    position: relative;
    text-align: center;
    font-size: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#nav-menu {
    position: fixed;
    top: 0;
    /*width: 100%;*/
    height: 100%;
    z-index: 1000;
    display: none;
}

.nav-menu-opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #000;
}

.nav-menu-wrapper {
    position: absolute;
    top: 0;
    left: -100%;
    width: 85%;
    height: 100%;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-menu-wrapper > nav {
    position: relative;
    line-height: 40px;
}

.nav-menu-wrapper.active {
    left: 0%;
}

.nav-menu-wrapper ul {
    line-height: 3.5em;
}

.nav-menu-wrapper.active li {
    cursor: pointer;
}

.nav-menu-wrapper.active li img {
    -webkit-transform: rotate(0deg) translateX(10px) rotate(0deg);
    -moz-transform: rotate(0deg) translateX(10px) rotate(0deg);
    -o-transform: rotate(0deg) translateX(10px) rotate(0deg);
    transform: rotate(0deg) translateX(10px) rotate(0deg);
    -webkit-animation: menu_move 10s linear infinite;
    -moz-animation: menu_move 10s linear infinite;
    -o-animation: menu_move 10s linear infinite;
    animation: menu_move 10s linear infinite;
}

.nav-menu-wrapper li:nth-child(1) img {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.nav-menu-wrapper li:nth-child(2) img {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

.nav-menu-wrapper li:nth-child(3) img {
    -webkit-animation-delay: .4s;
    -moz-animation-delay: .4s;
    -o-animation-delay: .4s;
    animation-delay: .4s;
}

.nav-menu-wrapper li:nth-child(4) img {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

.nav-menu-wrapper li:nth-child(5) img {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
}

.nav-menu-wrapper li:nth-child(6) img {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

.nav-menu-wrapper li:nth-child(7) img {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    -o-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.nav-menu-wrapper li:nth-child(8) img {
    -webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}

@-webkit-keyframes menu_move {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@-moz-keyframes menu_move {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@-o-keyframes menu_move {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}

@keyframes menu_move {
    0% {
        transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
}


/* nav-hamburger */

#nav-hamburger {
    position: fixed;
    /*top: 25px;*/
    width: 65px;
    height: 45px;
    margin-left: 45px;
    z-index: 1000;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    zoom: 0.6;
}

#nav-hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-hamburger span:nth-child(1) {
    top: 0px;
}

#nav-hamburger span:nth-child(2) {
    top: 15px;
}

#nav-hamburger span:nth-child(3) {
    top: 30px;
}

#nav-hamburger.active span:nth-child(1) {
    top: 18px;
    width: 50px;
    height: 3px;
    background: #ff9933;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-hamburger.active span:nth-child(2) {
    opacity: 0;
    left: -60px;
    width: 50px;
    height: 3px;
    background: #ff9933;
}

#nav-hamburger.active span:nth-child(3) {
    top: 18px;
    width: 50px;
    height: 3px;
    background: #ff9933;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.loading-effect {
    /*width: 100%;*/
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.loading-effect-pic {
    position: relative;
    margin: 0 auto;
    top: 35%;
    width: 35%;
    display: block;
    z-index: 100;
}

.loading-effect-opacity {
    border: 1px groove #eee;
    position: absolute;
    /*width: 100%;*/
    height: 100%;
    background: #fff;
    top: 0;
}

.loading-line-holder {
    position: relative;
    margin: 0 auto;
    top: 38%;
    width: 100%;
    height: 1px;
    z-index: 200;
}

.loading-line-holder > .loading-line {
    width: 0%;
    height: 100%;
    background: #ccc;
}

.loading-letter-holder {
    position: relative;
    margin: 0 auto;
    left: 10px;
    top: 36%;
    display: table;
    padding: 16px;
    z-index: 100;
}

.loading-letter-holder > .letter {
    float: left;
    font-size: 16px;
    color: #89b92a;
    font-weight: bolder;
}

.loading-letter-holder .letter-blink {
    -webkit-animation: loading_letter 0.5s linear infinite;
    -moz-animation: loading_letter 0.5s linear infinite;
    -moz-animation: loading_letter 0.5s linear infinite;
    animation: loading_letter 0.5s linear infinite;
}

.loading-letter-holder .letter-blink.l-8 {
    -webkit-animation-delay: 0.1s;
    -moz-animation-delay: 0.1s;
    -o-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-letter-holder .letter-blink.l-9 {
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading-letter-holder .letter-blink.l-10 {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

@-webkit-keyframes loading_letter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes loading_letter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes loading_letter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading_letter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.ul-none {
    list-style-type: none;
}

.ul-initial {
    list-style-type: initial;
}

.ul-initial {
    list-style-type: initial;
}

.ul-decimal {
    list-style-type: decimal;
}

.ul-cjk-ideographic {
    list-style-type: cjk-ideographic;
}
