header {
    /*height: 75px;*/
}

#nav-hamburger {
    /*zoom: 0.6;*/
}

.container {
    /*top: 85px;*/
}

.v-thumbnail {
    position: relative;
    width: 75%;
    margin: 10px auto;
}

.v-thumbnail > img {
    width: 100%;
}

.v-thumbnail > .player-btn {
    position: absolute;
    background: #D71616;
    width: 50px;
    height: 50px;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 99em;
    cursor: pointer;
}

.v-thumbnail > .player-btn:hover {
    opacity: 0.7;
}

.v-thumbnail > .player-btn > svg {
    position: absolute;
    top: 14px;
    left: 16px;
    width: 45%;
}

.v-thumbnail > .player-btn > svg {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 45%;
}

.v-thumbnail > .player-btn > svg > polygon {
    fill: #fff;
}

.fb-share-btn {
    position: relative;
    background: #ff9933;
    width: 70px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.fb-share-btn > p {
    color: #666;
    line-height: 2em;
}
