@media all and (min-width: 641px) {
    .popup-video,
    .popup-video-opacity {
        width: 640px;
    }
}

@media not all and (min-width: 641px) {
    .popup-video,
    .popup-video-opacity {
        width: 100%;
    }
}

.v-thumbnail {
    position: relative;
    width: 75%;
    margin: 10px auto;
}

.v-thumbnail > img {
    width: 100%;
}

.v-thumbnail > .player-btn {
    position: absolute;
    background: #D71616;
    width: 50px;
    height: 50px;
    top: 40%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 99em;
    cursor: pointer;
}

.v-thumbnail > .player-btn:hover {
    opacity: 0.7;
}

.v-thumbnail > .player-btn > svg {
    position: absolute;
    top: 14px;
    left: 16px;
    width: 45%;
}

.v-thumbnail > .player-btn > svg {
    position: absolute;
    top: 13px;
    left: 16px;
    width: 45%;
}

.v-thumbnail > .player-btn > svg > polygon {
    fill: #fff;
}

.fb-share-btn {
    position: relative;
    background: #ff9933;
    width: 70px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.fb-share-btn > p {
    color: #666;
    line-height: 2em;
}

.popup-video {
    display: none;
    /*width: 100%;*/
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9990;
}

.popup-video-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 99em;
    cursor: pointer;
    z-index: 200;
}

.popup-video-close:hover {
    opacity: 0.7;
}

.popup-video-close:before,
.popup-video-close:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 47%;
    width: 3px;
    height: 25px;
    background: #000;
    border-radius: 99em;
    opacity: 0.7;
}

.popup-video-close:before {
    transform: rotate(45deg);
}

.popup-video-close:after {
    transform: rotate(-45deg);
}

.popup-video-share {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    background: #fff;
    /*border-radius: 99em;*/
    background: #000;
    cursor: pointer;
    z-index: 200;
}

.popup-video-box {
    position: relative;
    width: 100%;
    height: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 56.25%;
    z-index: 100;
}

#youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-video-opacity {
    position: absolute;
    /*width: 100%;*/
    height: 100%;
    top: 0;
    background: #000;
    opacity: 0.9;
}
